<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Web-Tech</title>

		<link rel="icon" type="image/png" href="./images/favicon.ico" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div id="fin">
			<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="index.html">Web Systems and Technologies</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
						  <li><a href="index.html">Home</a></li>
						  <li><a href="prelims.html">Prelims</a></li>
						  <li><a href="midterms.html">Midterms</a></li>
						  <li class="active"><a href="finals.html">Finals</a></li>
						  <li><a href="glossary.html">Glossary</a></li>
						  <li><a href="sources.html">Sources</a></li>
						</ul>
					</div>	
				</nav>	
			</div>	
			
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
			  <div class="item active">
				<img src="images/10.jpg" alt="Chania" width="1920" height="1080">
			  </div>

			  <div class="item">
				<img src="images/11.png" alt="Chania" width="1920" height="1080">
			  </div>
			

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
		</div>

 
		
    <div class="container">
    	<div class="row">
			<div>
				<button data-toggle="collapse" data-target="#servlet" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Servlet</button>
			</div>
		</div>
        <article id="servlet" class="collapse">
	        <section>
	        <p>Java Servlets are programs that run on an Web Application server and act as a middle layer between a request coming from a Web browser or other HTTP client and databases or applications on the HTTP server.Servlets can be created using the javax.servlet and javax.servlet.http packages , which are a standard part of the Java's enterprise edition, an expanded version of the Java class library that supports large-scale development projects</p>
	        </section>
	        
			<section>
				<p data-toggle="collapse" data-target="#serv-pro"><b><a>Servlet Processing</a></b></p>
	        	<div id="serv-pro" class="collapse">
					<ul>
						<li>Client sends a request to a web server URL that is mapped to a servlet. Web server passes on the request to the servlet container </li>
						<li>Servlet container checks if servlet is already loaded </li>
						<li>If it is not yet loaded, servlet container loads the servlet class and instantiates the servlet, and calls its init method. </li>
						<li>Servlet container invokes the servlet's service method, passing request and response objects as arguments </li>
						<li>Servlet processes the request using the response object to create the response, which is returned by the servlet container to the web server, which in turn sends the response to the client </li>
						<li>Subsequent request to the servlet will not require servlet re-instantiation, unless the servlet has been unloaded; before a servlet is unloaded, the servlet container invokes its destroy method</li>
					</ul>
				</div>
			</section>

	        <section>
	        	<p data-toggle="collapse" data-target="#serv-do"><b><a>What does Servlet do?</a></b></p>
	        	<div id="serv-do" class="collapse">
		        	<ul>
		        	<li>Read the explicit data sent by the clients (browsers)</li>
					<li>Read the implicit HTTP request data sent by the clients (browsers)</li>
					<li>Process the data and generate the results</li>
					<li>Send the explicit data (i.e., the document) to the clients (browsers)</li>
					<li>Send the implicit HTTP response to the clients (browsers).</li>
					</ul>
				</div>
			</section>
		

			<section>
				<p data-toggle="collapse" data-target="#javax"><b><a>javax.servlet</a></b></p>
	        	<div id="javax" class="collapse">
					<ul>
					<li>Servlet, GenericServlet</li>
					<li>ServletRequest, ServletResponse </li>
					<li>ServletConfig, ServletContext </li>
					<li>RequestDispatcher</li>
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#javaxs"><b><a>javax.servlet.http</a></b></p>
	        	<div id="javaxs" class="collapse">
					<ul>
					<li>HttpServlet </li>
					<li>HttpServletRequest </li>
					<li>HttpServletResponse</li>
					<li>HttpSession</li>
					<li>Cookie</li>	
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#servlet-req"><b><a>Servlet Request Processing (HttpServletRequest)</a></b></p>
	        	<div id="servlet-req" class="collapse">
					<ul>
					<li>Retrieving user-supplied request parameters	 </li>
					<li>Retrieving request header values</li>
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#servlet-res"><b><a>Servlet Response Processing (HttpServletResponse) </a></b></p>
	        	<div id="servlet-res" class="collapse">
					<ul>
					<li>Setting response status code</li>
					<li>Setting response headers</li>
					<li>Obtaining output object for sending the response</li>
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#servlet-reqd"><b><a>Servlet Request Dispatching (RequestDispatcher)</a></b></p>
	        	<div id="servlet-reqd" class="collapse">
					<ul>	
					<li>Obtain a RequestDispatcher to a resource (static or dynamic) from the request object </li>
					<br>
							<p>RequestDispatcher rqstDsp;</p>
							<p>rqstDsp = request.getRequestDispatcher(res); </p>
					<br>
					<li>Include the dispatcher resource (or its output) in the current response; one or more resources can be included (e.g. use for banners, footers, etc.) </li>
						<br>
							<p>	rqstDsp.include(request, response); </p>
								<br>
					<li>Forwards the processing of the current request to the dispatcher resource; the servlet processing the current request must not generate a response ( e.g. use in MVC “controller” servlets) </li>
						<br>
							<p>	rqstDsp.forward(request, response);</p>
					</ul>
				</div>
			</section>


			<section>
				<p data-toggle="collapse" data-target="#session"><b><a>Session Tracking(HttpSession)</a></b></p>
	        	<div id="session" class="collapse">
					<ul>	
					<li>Session tracking support is implemented either cookies or URL-rewriting </li>
					<br>
							<p>HttpSession session; </p>
							<p>session = request.getSession(createNew);  </p>
					<br>
					<li>Obtaining session information (HttpSession)</li>
						<br>
							<p>	getCreationTime(), getLastAccessedTime(), getMaxInactiveInternal(), getId(), isNew(), setMaxInactiveInterval(int val) </p>
								<br>
					<li>Destroying sessions  </li>
						<br>
							<p>	invalidate() </p>
							<br>
					<li>URL-rewriting(HttpServletResponse)   </li>
						<br>
							<p>	encodeURL(String url), encodeRedirectURL(String url) </p>
					</ul>
				</div>
			</section>

	    </article>

	    <div class="row">
			<div>
				<button data-toggle="collapse" data-target="#java-pages" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Java Server Pages</button>
			</div>
		</div>

        <article id="java-pages" class="collapse">
	        <section>
	        <p>Simply an HTML web page that contains additional bits of code that execute application logic to generate dynamic content. </p>
	        </section>

	      	<section>
				<p data-toggle="collapse" data-target="#feat"><b><a>Features</a></b></p>
	        	<div id="feat" class="collapse">
					<ul>
					<li>Text-based document capable of generating both static and dynamic content (typically intermixed) </li>
					<li>Mark-up based document syntax (JSP-style or XML-style), combining (X) HTML elements as well as standard and custom JSP elements; thus, web page authors can feel right "at home" with the mark-up syntax.</li>
					<li>Embedded Java Coding support via “scriptlets</li>
					<li>Template text are converted into JSPWriter</li>
					</ul>
				</div>
			</section>

	   		<section>
				<p data-toggle="collapse" data-target="#comp"><b><a>Components </a></b></p>
	        	<div id="comp" class="collapse">
					<ul>
					<li>Template (i.e. static) text</li>
					<li>JSP elements </li>
						<ul>
							<li>Directives </li>
						
						<ul>
							<li><%@ page ContentType=”text/html” pageEncoding=”UTF-8” %> </li>
							<li><p data-toggle="collapse" data-target="#comp1"><b><a><%@ page import=”java.util.Random” %> </a></b></p></li><div id="comp1" class="collapse">
						
						<ul>
							<li>autoFlush </li>
							<li>buffer </li>
							<li>contentType  </li>
							<li>errorPage </li>
							<li> extends </li>
							<li>import  </li>
							<li>info </li>
							<li>isELIgnored </li>
							<li>isErrorPage </li>
							<li>isThreadSafe </li>
							<li>language </li>
							<li>pageEncoding </li>
							<li>session </li>

						</ul>
						</ul>

						<ul>
							
							<li><p data-toggle="collapse" data-target="#comp2"><b><a><%@ taglib uri=”http://java.sun.com/jsp/jstl/core” prefix=”c” %> </a></b></p></li><div id="comp2" class="collapse">

							<ul>
							<li>prefix</li>
							<li>taglib</li>
							<li>uri</li>
							

							</ul>

						</ul>


					<li>Scripting Elements </li>

						<ul>
							
							<li><p data-toggle="collapse" data-target="#dec"><b><a>Declarations </a></b></p></li>
							<div id="dec" class="collapse">

							<ul>
								<li><%! int a = 100; %></li>
								<li><%! int square(int n) { return n*n ; } %></li>
							</ul>
						</ul>

						<ul>
							<li><p data-toggle="collapse" data-target="#ex"><b><a>Expressions  </a></b></p></li>
							<div id="ex" class="collapse">

							<ul>
								<li><% String s = new java.util.Date().toString(); %> </li>
							</ul>
						</ul>

						<ul>
							<li><p data-toggle="collapse" data-target="#sc"><b><a>Scriptlets </a></b></p></li>
							<div id="sc" class="collapse">

							<ul>
								<li> <% for(int i = 0; i < 10 ; i++) { out.println(i); } %> </li>
							</ul>
						</ul>
				</div>
			</section>
		</article>
		
		<div class="row">
			<div>
					<button data-toggle="collapse" data-target="#php" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">PHP</button>
			</div>
		</div>
		<article id="php" class="collapse">
		<section>
		<p> PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.</p>
			<li data-toggle="collapse" data-target="#supglo"><b><a>Superglobals</a></b></li>	
			<div id="supglo" class="collapse">
			<p> Superglobals are available in all scopes throughout a script. There is no need to do global $variable; to access them within functions or methods.</p>
				<ul>
				
					<li data-toggle="collapse" data-target="#global" class="li"><b><a>$GLOBALS</a></b></li>
					<div id="global" class="collapse">
						References all variables available in global scope
					</div>
					
					<li data-toggle="collapse" data-target="#server" class="li"><b><a>$_SERVER</a></b></li>
					<div id="server" class="collapse">
						Server and execution environment information
					</div>
					
					<li data-toggle="collapse" data-target="#get" class="li"><b><a>$_GET</a></b></li>
					<div id="get" class="collapse">
						HTTP GET variables
					</div>
					
					<li data-toggle="collapse" data-target="#posts" class="li"><b><a>$_POST</a></b></li>
					<div id="posts" class="collapse">
						HTTP POST variables
					</div>
					
					<li data-toggle="collapse" data-target="#filu" class="li"><b><a>$_FILES</a></b></li>
					<div id="filu" class="collapse">
						HTTP File Upload variables
					</div>
					
					<li data-toggle="collapse" data-target="#cookies" class="li"><b><a>$_COOKIE</a></b></li>
					<div id="cookies" class="collapse">
						HTTP Cookies
					</div>
				
					<li data-toggle="collapse" data-target="#sessions" class="li"><b><a>$_SESSION</a></b></li>
					<div id="sessions" class="collapse">
						Session variables
					</div>

					<li data-toggle="collapse" data-target="#request" class="li"><b><a>$_REQUEST</a></b></li>
					<div id="request" class="collapse">
						HTTP Request variables
					</div>
					
					<li data-toggle="collapse" data-target="#env" class="li"><b><a>$_ENV</a></b></li>
					<div id="env" class="collapse">
						Environment variables
					</div>
					
				</ul>
			</div>
			<li data-toggle="collapse" data-target="#sesrlf"><b><a>Session-Related Functions</a></b></li>	
			<div id="sesrlf" class="collapse">
				<ul>
					<li data-toggle="collapse" data-target="#sesab" class="li"><b><a>session_abort</a></b></li>
					<div id="sesab" class="collapse">
						Discard session array changes and finish session
					</div>
					
					<li data-toggle="collapse" data-target="#secom" class="li"><b><a>session_commit</a></b></li>
					<div id="secom" class="collapse">
						Alias of session_write_close
					</div>
					
					<li data-toggle="collapse" data-target="#sedes" class="li"><b><a>session_destroy</a></b></li>
					<div id="sedes" class="collapse">
						Destroys all data registered to a session
					</div>
					
					<li data-toggle="collapse" data-target="#sestr" class="li"><b><a>session_start</a></b></li>
					<div id="sestr" class="collapse">
						Start new or resume existing session
					</div>
					
					<li data-toggle="collapse" data-target="#sesta" class="li"><b><a>session_status</a></b></li>
					<div id="sesta" class="collapse">
						Returns the current session status
					</div>
					
					<li data-toggle="collapse" data-target="#seres" class="li"><b><a>session_reset</a></b></li>
					<div id="seres" class="collapse">
						Re-initialize session array with original values
					</div>
										
					<li data-toggle="collapse" data-target="#seuns" class="li"><b><a>session_unset</a></b></li>
					<div id="seuns" class="collapse">
						Free all session variables
					</div>
					
					<li data-toggle="collapse" data-target="#seid" class="li"><b><a>session_id</a></b></li>
					<div id="seid" class="collapse">
						Get and/or set the current session id
					</div>
					
					<li data-toggle="collapse" data-target="#sename" class="li"><b><a>session_name</a></b></li>
					<div id="sename" class="collapse">
						Get and/or set the current session name
					</div>
					
				</ul>		
		</section>		
		</article>




		<div class="row">
			<div>
					<button data-toggle="collapse" data-target="#nodes" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Node.js</button>
			</div>
		</div>
		<article id="nodes" class="collapse">
			<section>
				<p>Node.js is an open-source, cross-platform JavaScript run-time environment for executing JavaScript code server-side.Node is similar in design to, and influenced by, systems like Ruby's Event Machine or Python's Twisted. Node takes the event model a bit further. It presents an event loop as a runtime construct instead of as a library. In other systems there is always a blocking call to start the event-loop.</p>


			<li data-toggle="collapse" data-target="#nodemod"><b><a>Modules</a></b></li>	
			<div id="nodemod" class="collapse">
				<ul>
				
					<li data-toggle="collapse" data-target="#modulen" class="li"><b><a>Async</a></b></li>
					<div id="modulen" class="collapse">
						Async is a utility module which provides straight-forward, powerful functions for working with asynchronous JavaScript.
					</div>

					<li data-toggle="collapse" data-target="#browserify" class="li"><b><a>Browserify</a></b></li>
					<div id="browserify" class="collapse"><p>
						Browserify will recursively analyze all the require() calls in your app in order to build a bundle you can serve up to the browser in a single (script) tag.
					</div>

					<li data-toggle="collapse" data-target="#bower" class="li"><b><a>Bower</a></b></li>
					<div id="bower" class="collapse"><p>
						Bower is a package manager for the web. It works by fetching and installing packages from all over, taking care of hunting, finding, downloading, and saving the stuff you’re looking for.
					</div>

					<li data-toggle="collapse" data-target="#backbone" class="li"><b><a>Backbone</a></b></li>
					<div id="backbone" class="collapse"><p>
						 Backbone.js gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.
					</div>

					<li data-toggle="collapse" data-target="#csv" class="li"><b><a>CSV</a></b></li>
					<div id="csv" class="collapse"><p>
						CSV module has four sub modules which provides CSV generation, parsing, transformation and serialization for Node.js.
					</div>

					<li data-toggle="collapse" data-target="#debug" class="li"><b><a>Debug</a></b></li>
					<div id="debug" class="collapse"><p>
						Debug is a tiny node.js debugging utility modelled after node core's debugging technique.
					</div>

					<li data-toggle="collapse" data-target="#express" class="li"><b><a>Express</a></b></li>
					<div id="express" class="collapse"><p>
						Express is a fast, un-opinionated, minimalist web framework. It provides small, robust tooling for HTTP servers, making it a great solution for single page applications, web sites, hybrids, or public HTTP APIs.
					</div>

					<li data-toggle="collapse" data-target="#forever" class="li"><b><a>Forever</a></b></li>
					<div id="forever" class="collapse"><p>
						A simple CLI tool for ensuring that a given node script runs continuously (i.e. forever).
					</div>

					<li data-toggle="collapse" data-target="#grunt" class="li"><b><a>Grunt</a></b></li>
					<div id="grunt" class="collapse"><p>
						Grunt is a JavaScript Task Runner that facilitates creating new projects and makes performing repetitive but necessary tasks such as linting, unit testing, concatenating and minifying files (among other things) trivial.
					</div>

					<li data-toggle="collapse" data-target="#httpser" class="li"><b><a>Http-server</a></b></li>
					<div id="httpser" class="collapse"><p>
						Http-server is a simple, zero-configuration command-line http server. It is powerful enough for production usage, but it's simple and hackable enough to be used for testing, local development, and learning.
					</div>

					<li data-toggle="collapse" data-target="#inquirer" class="li"><b><a>Inquirer</a></b></li>
					<div id="inquirer" class="collapse"><p>
						A collection of common interactive command line user interfaces.
					</div>

					<li data-toggle="collapse" data-target="#jquery" class="li"><b><a>JQuery</a></b></li>
					<div id="jquery" class="collapse"><p>
						 JQuery is a fast, small, and feature-rich JavaScript library.
					</div>

					<li data-toggle="collapse" data-target="#jshint" class="li"><b><a>Jshint</a></b></li>
					<div id="jshint" class="collapse"><p>
						 Static analysis tool to detect errors and potential problems in JavaScript code and to enforce your team's coding conventions.
					</div>

					<li data-toggle="collapse" data-target="#koa" class="li"><b><a>Koa</a></b></li>
					<div id="koa" class="collapse"><p>
						 Koa is web app framework. It is an expressive HTTP middleware for node.js to make web applications and APIs more enjoyable to write.
					</div>

					<li data-toggle="collapse" data-target="#lodash" class="li"><b><a>Lodash</a></b></li>
					<div id="lodash" class="collapse"><p>
						 The lodash library exported as a node module. Lodash is a modern JavaScript utility library delivering modularity, performance, & extras.
					</div>

					<li data-toggle="collapse" data-target="#less" class="li"><b><a>Less</a></b></li>
					<div id="less" class="collapse"><p>
						 The less library exported as a node module.
					</div>

					<li data-toggle="collapse" data-target="#moment" class="li"><b><a>Moment</a></b></li>
					<div id="moment" class="collapse"><p>
						 A lightweight JavaScript date library for parsing, validating, manipulating, and formatting dates.
					</div>

					<li data-toggle="collapse" data-target="#mongoose" class="li"><b><a>Mongoose</a></b></li>
					<div id="mongoose" class="collapse"><p>
						 It is a MongoDB object modeling tool designed to work in an asynchronous environment.
					</div>

					<li data-toggle="collapse" data-target="#mongodb" class="li"><b><a>MongoDB</a></b></li>
					<div id="mongodb" class="collapse"><p>
						 The official MongoDB driver for Node.js. It provides a high-level API on top of mongodb-core that is meant for end users.It is a MongoDB object modeling tool designed to work in an asynchronous environment.
					</div>

					<li data-toggle="collapse" data-target="#npm" class="li"><b><a>NPM</a></b></li>
					<div id="npm" class="collapse"><p>
						 Npm is package manager for javascript.</p>
					</div>

					<li data-toggle="collapse" data-target="#nodemonno" class="li"><b><a>Nodemon</a></b></li>
					<div id="nodemonno" class="collapse"><p>
						 It is a simple monitor script for use during development of a node.js app, It will watch the files in the directory in which nodemon was started, and if any files change, nodemon will automatically restart your node application.</p>
					</div>

					<li data-toggle="collapse" data-target="#nodemailer" class="li"><b><a>Nodemailer</a></b></li>
					<div id="nodemailer" class="collapse"><p>
						 This module enables e-mail sending from a Node.js applications.</p>
					</div>

					<li data-toggle="collapse" data-target="#optimist" class="li"><b><a>Optimist</a></b></li>
					<div id="optimist" class="collapse"><p>
						 Optimist is a node.js library for option parsing with an argv hash.</p>
					</div>

					<li data-toggle="collapse" data-target="#Phantomjs" class="li"><b><a>Phantomjs</a></b></li>
					<div id="Phantomjs" class="collapse"><p>
						  An NPM installer for PhantomJS, headless webkit with JS API. It has fast and native support for various web standards: DOM handling, CSS selector, JSON, Canvas, and SVG.</p>
					</div>

					<li data-toggle="collapse" data-target="#Passport" class="li"><b><a>Passport</a></b></li>
					<div id="Passport" class="collapse"><p>
						  A simple, unobtrusive authentication middleware for Node.js. Passport uses the strategies to authenticate requests. Strategies can range from verifying username and password credentials or authentication using OAuth or OpenID.</p>
					</div>

					<li data-toggle="collapse" data-target="#Q" class="li"><b><a>Q</a></b></li>
					<div id="Q" class="collapse"><p>
						Q is a library for promises. A promise is an object that represents the return value or the thrown exception that the function may eventually provide.</p>
					</div>

					<li data-toggle="collapse" data-target="#Request" class="li"><b><a>Request</a></b></li>
					<div id="Request" class="collapse"><p>
						Request is Simplified HTTP request client make it possible to make http calls. It supports HTTPS and follows redirects by default.</p>
					</div>

					<li data-toggle="collapse" data-target="#Socket.io" class="li"><b><a>Socket.io</a></b></li>
					<div id="Socket.io" class="collapse"><p>
						 Its a node.js realtime framework server.</p>
					</div>

					<li data-toggle="collapse" data-target="#Sails" class="li"><b><a>Sails</a></b></li>
					<div id="Sails" class="collapse"><p>
						 Sails is API-driven framework for building realtime apps, using MVC conventions (based on Express and Socket.io)</p>
					</div>

					<li data-toggle="collapse" data-target="#Through" class="li"><b><a>Through</a></b></li>
					<div id="Through" class="collapse"><p>
						 It enables simplified stream construction. It is easy way to create a stream that is both readable and writable.</p>
					</div>

					<li data-toggle="collapse" data-target="#Underscore" class="li"><b><a>Underscore</a></b></li>
					<div id="Underscore" class="collapse"><p>
						  Underscore.js is a utility-belt library for JavaScript that provides support for the usual functional suspects (each, map, reduce, filter...) without extending any core JavaScript objects.</p>
					</div>

					<li data-toggle="collapse" data-target="#Validator" class="li"><b><a>Validator</a></b></li>
					<div id="Validator" class="collapse"><p>
						  A nodejs module for a library of string validators and sanitizers.</p>
					</div>

					<li data-toggle="collapse" data-target="#Winston" class="li"><b><a>Winston</a></b></li>
					<div id="Winston" class="collapse"><p>
						  A multi-transport async logging library for Node.js</p>
					</div>

					<li data-toggle="collapse" data-target="#Ws" class="li"><b><a>Ws</a></b></li>
					<div id="Ws" class="collapse"><p>
						  A simple to use, blazing fast and thoroughly tested websocket client, server and console for node.js
						  </p>
					</div>

					<li data-toggle="collapse" data-target="#Xml2js" class="li"><b><a>Xml2js</a></b></li>
					<div id="Xml2js" class="collapse"><p>
						  A Simple XML to JavaScript object converter.
						  </p>
					</div>

					<li data-toggle="collapse" data-target="#Yo" class="li"><b><a>Yo</a></b></li>
					<div id="Yo" class="collapse"><p>
						  A CLI tool for running Yeoman generators
						  </p>
					</div>

					<li data-toggle="collapse" data-target="#Zmq" class="li"><b><a>Zmq</a></b></li>
					<div id="Zmq" class="collapse"><p>
						   Bindings for node.js and io.js to ZeroMQ .It is a high-performance asynchronous messaging library, aimed at use in distributed or concurrent applications.
						  </p>
					</div>

		</article>
	
		<div class="row">
			<div>
					<button data-toggle="collapse" data-target="#web-sec" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Web Security</button>
			</div>
		</div>
		<article id="web-sec" class="collapse">
			<section>
				<p>Web Security, also known as "Cyber security" involves protecting information by preventing, detecting, and responding to attacks. </p>

			<div class="well" >
				<h4>Graphical Presentation</h4>
				<img src="./images/websec.gif" class="img-responsive" alt="html_start">
			</div>

			<li data-toggle="collapse" data-target="#ps"><b><a>Packet Sniffer</a></b></li>
				<div id="ps" class="collapse">
					Also known as a Network Analyzer is a computer program that can itercept security, privacy and log traffic that passes a network.
				</div>
			<li data-toggle="collapse" data-target="#le"><b><a>Let's Encrypt</a></b></li>
				<div id="le" class="collapse">
					Let's Encrypt provides free certificate for Transport Layer Security(TLS) encryption to serve HTTPS traffic.
				</div>

			<li data-toggle="collapse" data-target="#owasp"><b><a>Top 10 Application Security Risk</a></b></li>	
			<div id="owasp" class="collapse">
			<ul>

			<li data-toggle="collapse" data-target="#in"><b><a>Injection</a></b></li>
				<div id="in" class="collapse">
				<p>Injection flaws, such as SQL, OS, XXE, and LDAP injection occur when untrusted data is sent to an interpreter as part of a command or query. The attacker’s hostile data can trick the interpreter into executing unintended commands or accessing data without proper authorization.</p>
				<img src="./images/injection.png" class="img-responsive" alt="attribute">
				</div>
			<li data-toggle="collapse" data-target="#au"><b><a>Broken Authentication and Session Management</a></b></li>
				<div id="au" class="collapse">
				<p>Application functions related to authentication and session management are often implemented incorrectly, allowing attackers to compromise passwords, keys, or session tokens, or to exploit other implementation flaws to assume other users’ identities (temporarily or permanently).</p>
				<img src="./images/brokenauthentication.png" class="img-responsive" alt="attribute">
				</div>
			<li data-toggle="collapse" data-target="#xss"><b><a>Cross-Site Scripting (XSS)</a></b></li>
				<div id="xss" class="collapse">
				<p>XSS flaws occur whenever an application includes untrusted data in a new web page without proper validation or escaping, or updates an existing web page with user supplied data using a browser API that can create JavaScript. XSS allows attackers to execute scripts in the victim’s browser which can hijack user sessions, deface web sites, or redirect the user to malicious sites.</p>
				<img src="./images/scripting.png" class="img-responsive" alt="attribute">
				</div>			
			<li data-toggle="collapse" data-target="#bro"><b><a>Broken Access Control</a></b></li>
				<div id="bro" class="collapse">
				<p>Restrictions on what authenticated users are allowed to do are not properly enforced. Attackers can exploit these flaws to access unauthorized functionality and/or data, such as access other users' accounts, view sensitive files, modify other users’ data, change access rights, etc.</p>
				<img src="./images/brokenaccess.png" class="img-responsive" alt="attribute">
				</div>
			<li data-toggle="collapse" data-target="#sec"><b><a>Security Misconfiguration</a></b></li>
				<div id="sec" class="collapse">
				<p>Good security requires having a secure configuration defined and deployed for the application, frameworks, application server, web server, database server, platform, etc. Secure settings should be defined, implemented, and maintained, as defaults are often insecure. Additionally, software should be kept up to date.</p>
				</div>
			<li data-toggle="collapse" data-target="#sen"><b><a>Sensitive Data Exposure</a></b></li>
				<div id="sen" class="collapse">
				<p>Many web applications and APIs do not properly protect sensitive data, such as financial, healthcare, and PII. Attackers may steal or modify such weakly protected data to conduct credit card fraud, identity theft, or other crimes. Sensitive data deserves extra protection such as encryption at rest or in transit, as well as special precautions when exchanged with the browser.</p>
				</div>
			<li data-toggle="collapse" data-target="#att"><b><a>Insufficient Attack Protection</a></b></li>
				<div id="att" class="collapse">
				<p>The majority of applications and APIs lack the basic ability to detect, prevent, and respond to both manual and automated attacks. Attack protection goes far beyond basic input validation and involves automatically detecting, logging, responding, and even blocking exploit attempts. Application owners also need to be able to deploy patches quickly to protect against attacks.</p>
				</div>
			<li data-toggle="collapse" data-target="#for"><b><a>Cross-Site Request Forgery (CSRF)</a></b></li>
				<div id="for" class="collapse">
				<p>A CSRF attack forces a logged-on victim’s browser to send a forged HTTP request, including the victim’s session cookie and any other automatically included authentication information, to a vulnerable web application. Such an attack allows the attacker to force a victim’s browser to generate requests the vulnerable application thinks are legitimate requests from the victim.</p>
				<img src="./images/forgery.png" class="img-responsive" alt="attribute">
				</div>
			<li data-toggle="collapse" data-target="#component"><b><a>Using Components with Known Vulnerabilities</a></b></li>
				<div id="component" class="collapse">
				<p>Components, such as libraries, frameworks, and other software modules, run with the same privileges as the application. If a vulnerable component is exploited, such an attack can facilitate serious data loss or server takeover. Applications and APIs using components with known vulnerabilities may undermine application defenses and enable various attacks and impacts.</p>
				</div>
			<li data-toggle="collapse" data-target="#und"><b><a>Underprotected APIs</a></b></li>
				<div id="und" class="collapse">
				<p>Modern applications often involve rich client applications and APIs, such as JavaScript in the browser and mobile apps, that connect to an API of some kind (SOAP/XML, REST/JSON, RPC, GWT, etc.). These APIs are often unprotected and contain numerous vulnerabilities.</p>
				</div>
			</section>
		</article>
		
		
        <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

		<script >
				window.onscroll = function() {scrollFunction()};

				function scrollFunction() {
   					 if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      				   document.getElementById("myBtn").style.display = "block";
   					 } else {
     				   document.getElementById("myBtn").style.display = "none";
  				  }		
				}	

// When the user clicks on the button, scroll to the top of the document
				function topFunction() {
    					document.body.scrollTop = 0; // For Chrome, Safari and Opera 
    					document.documentElement.scrollTop = 0; // For IE and Firefox
					}
		</script>

	<!-- Footer -->
    <br>
	<br>
	<br>	
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Web Technology Lessons 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>
