<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Web-Tech</title>

		<link rel="icon" type="image/png" href="./images/favicon.ico" />
		<link rel="stylesheet" href="css/bootstrap.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>

		<div id="fin">
			<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="index.html">Web Systems and Technologies</a>
						</div>
						<ul class="nav navbar-nav navbar-right">
						  <li><a href="index.html">Home</a></li>
						  <li><a href="prelims.html">Prelims</a></li>
						  <li><a href="midterms.html">Midterms</a></li>
						  <li class="active"><a href="finals.html">Finals</a></li>
						  <li><a href="glossary.html">Glossary</a></li>
						  <li><a href="sources.html">Sources</a></li>
						</ul>
					</div>	
				</nav>	
			</div>	
			
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			  <li data-target="#myCarousel" data-slide-to="1"></li>
			  <li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
			  <div class="item active">
				<img src="images/10.jpg" alt="Chania" width="1920" height="1080">
			  </div>

			  <div class="item">
				<img src="images/11.png" alt="Chania" width="1920" height="1080">
			  </div>
			

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
		</div>

 
		
    <div class="container">
    	<div class="row">
			<div>
				<button data-toggle="collapse" data-target="#servlet" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Servlet</button>
			</div>
		</div>
        <article id="servlet" class="collapse">
	        <section>
	        <p>Java Servlets are programs that run on an Web Application server and act as a middle layer between a request coming from a Web browser or other HTTP client and databases or applications on the HTTP server.Servlets can be created using the javax.servlet and javax.servlet.http packages , which are a standard part of the Java's enterprise edition, an expanded version of the Java class library that supports large-scale development projects</p>
	        </section>
	        
			<section>
				<p data-toggle="collapse" data-target="#serv-pro"><b><a>Servlet Processing</a></b></p>
	        	<div id="serv-pro" class="collapse">
					<ul>
						<li>Client sends a request to a web server URL that is mapped to a servlet. Web server passes on the request to the servlet container </li>
						<li>Servlet container checks if servlet is already loaded </li>
						<li>If it is not yet loaded, servlet container loads the servlet class and instantiates the servlet, and calls its init method. </li>
						<li>Servlet container invokes the servlet's service method, passing request and response objects as arguments </li>
						<li>Servlet processes the request using the response object to create the response, which is returned by the servlet container to the web server, which in turn sends the response to the client </li>
						<li>Subsequent request to the servlet will not require servlet re-instantiation, unless the servlet has been unloaded; before a servlet is unloaded, the servlet container invokes its destroy method</li>
					</ul>
				</div>
			</section>

	        <section>
	        	<p data-toggle="collapse" data-target="#serv-do"><b><a>What does Servlet do?</a></b></p>
	        	<div id="serv-do" class="collapse">
		        	<ul>
		        	<li>Read the explicit data sent by the clients (browsers)</li>
					<li>Read the implicit HTTP request data sent by the clients (browsers)</li>
					<li>Process the data and generate the results</li>
					<li>Send the explicit data (i.e., the document) to the clients (browsers)</li>
					<li>Send the implicit HTTP response to the clients (browsers).</li>
					</ul>
				</div>
			</section>
		

			<section>
				<p data-toggle="collapse" data-target="#javax"><b><a>javax.servlet</a></b></p>
	        	<div id="javax" class="collapse">
					<ul>
					<li>Servlet, GenericServlet</li>
					<li>ServletRequest, ServletResponse </li>
					<li>ServletConfig, ServletContext </li>
					<li>RequestDispatcher</li>
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#javaxs"><b><a>javax.servlet.http</a></b></p>
	        	<div id="javaxs" class="collapse">
					<ul>
					<li>HttpServlet </li>
					<li>HttpServletRequest </li>
					<li>HttpServletResponse</li>
					<li>HttpSession</li>
					<li>Cookie</li>	
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#servlet-req"><b><a>Servlet Request Processing (HttpServletRequest)</a></b></p>
	        	<div id="servlet-req" class="collapse">
					<ul>
					<li>Retrieving user-supplied request parameters	 </li>
					<li>Retrieving request header values</li>
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#servlet-res"><b><a>Servlet Response Processing (HttpServletResponse) </a></b></p>
	        	<div id="servlet-res" class="collapse">
					<ul>
					<li>Setting response status code</li>
					<li>Setting response headers</li>
					<li>Obtaining output object for sending the response</li>
					</ul>
				</div>
			</section>

			<section>
				<p data-toggle="collapse" data-target="#servlet-reqd"><b><a>Servlet Request Dispatching (RequestDispatcher)</a></b></p>
	        	<div id="servlet-reqd" class="collapse">
					<ul>	
					<li>Obtain a RequestDispatcher to a resource (static or dynamic) from the request object </li>
					<br>
							<p>RequestDispatcher rqstDsp;</p>
							<p>rqstDsp = request.getRequestDispatcher(res); </p>
					<br>
					<li>Include the dispatcher resource (or its output) in the current response; one or more resources can be included (e.g. use for banners, footers, etc.) </li>
						<br>
							<p>	rqstDsp.include(request, response); </p>
								<br>
					<li>Forwards the processing of the current request to the dispatcher resource; the servlet processing the current request must not generate a response ( e.g. use in MVC “controller” servlets) </li>
						<br>
							<p>	rqstDsp.forward(request, response);</p>
					</ul>
				</div>
			</section>


			<section>
				<p data-toggle="collapse" data-target="#session"><b><a>Session Tracking(HttpSession)</a></b></p>
	        	<div id="session" class="collapse">
					<ul>	
					<li>Session tracking support is implemented either cookies or URL-rewriting </li>
					<br>
							<p>HttpSession session; </p>
							<p>session = request.getSession(createNew);  </p>
					<br>
					<li>Obtaining session information (HttpSession)</li>
						<br>
							<p>	getCreationTime(), getLastAccessedTime(), getMaxInactiveInternal(), getId(), isNew(), setMaxInactiveInterval(int val) </p>
								<br>
					<li>Destroying sessions  </li>
						<br>
							<p>	invalidate() </p>
							<br>
					<li>URL-rewriting(HttpServletResponse)   </li>
						<br>
							<p>	encodeURL(String url), encodeRedirectURL(String url) </p>
					</ul>
				</div>
			</section>

	    </article>

	    <div class="row">
			<div>
				<button data-toggle="collapse" data-target="#java-pages" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Java Server Pages</button>
			</div>
		</div>

        <article id="java-pages" class="collapse">
	        <section>
	        <p>Simply an HTML web page that contains additional bits of code that execute application logic to generate dynamic content. </p>
	        </section>

	      	<section>
				<p data-toggle="collapse" data-target="#feat"><b><a>Features</a></b></p>
	        	<div id="feat" class="collapse">
					<ul>
					<li>Text-based document capable of generating both static and dynamic content (typically intermixed) </li>
					<li>Mark-up based document syntax (JSP-style or XML-style), combining (X) HTML elements as well as standard and custom JSP elements; thus, web page authors can feel right "at home" with the mark-up syntax.</li>
					<li>Embedded Java Coding support via “scriptlets</li>
					<li>Template text are converted into JSPWriter</li>
					</ul>
				</div>
			</section>

	   		<section>
				<p data-toggle="collapse" data-target="#comp"><b><a>Components </a></b></p>
	        	<div id="comp" class="collapse">
					<ul>
					<li>Template (i.e. static) text</li>
					<li>JSP elements </li>
						<ul>
							<li>Directives </li>
						
						<ul>
							<li><%@ page ContentType=”text/html” pageEncoding=”UTF-8” %> </li>
							<li><p data-toggle="collapse" data-target="#comp1"><b><a><%@ page import=”java.util.Random” %> </a></b></p></li><div id="comp1" class="collapse">
						
						<ul>
							<li>autoFlush </li>
							<li>buffer </li>
							<li>contentType  </li>
							<li>errorPage </li>
							<li> extends </li>
							<li>import  </li>
							<li>info </li>
							<li>isELIgnored </li>
							<li>isErrorPage </li>
							<li>isThreadSafe </li>
							<li>language </li>
							<li>pageEncoding </li>
							<li>session </li>

						</ul>
						</ul>

						<ul>
							
							<li><p data-toggle="collapse" data-target="#comp2"><b><a><%@ taglib uri=”http://java.sun.com/jsp/jstl/core” prefix=”c” %> </a></b></p></li><div id="comp2" class="collapse">

							<ul>
							<li>prefix</li>
							<li>taglib</li>
							<li>uri</li>
							

							</ul>

						</ul>


					<li>Scripting Elements </li>

						<ul>
							
							<li><p data-toggle="collapse" data-target="#dec"><b><a>Declarations </a></b></p></li>
							<div id="dec" class="collapse">

							<ul>
								<li><%! int a = 100; %></li>
								<li><%! int square(int n) { return n*n ; } %></li>
							</ul>
						</ul>

						<ul>
							<li><p data-toggle="collapse" data-target="#ex"><b><a>Expressions  </a></b></p></li>
							<div id="ex" class="collapse">

							<ul>
								<li><% String s = new java.util.Date().toString(); %> </li>
							</ul>
						</ul>

						<ul>
							<li><p data-toggle="collapse" data-target="#sc"><b><a>Scriptlets </a></b></p></li>
							<div id="sc" class="collapse">

							<ul>
								<li> <% for(int i = 0; i < 10 ; i++) { out.println(i); } %> </li>
							</ul>
						</ul>
				</div>
			</section>
		</article>
		
		<div class="row">
			<div>
					<button data-toggle="collapse" data-target="#php" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">PHP</button>
			</div>
		</div>
		<article id="php" class="collapse">
		<section>
			<li data-toggle="collapse" data-target="#supglo"><b><a>Superglobals</a></b></li>	
			<div id="supglo" class="collapse">
				<ul>
					<li><b>$GLOBALS</b></li>
					<li><b>$_SERVER</b></li>
					<li><b>$_GET</b></li>
					<li><b>$_POST</b></li>
					<li><b>$_FILES</b></li>
					<li><b>$_COOKIE</b></li>
					<li><b>$_SESSION</b></li>
					<li><b>$_REQUEST</b></li>
					<li><b>$_ENV</b></li>
				</ul>
			</div>
			<li data-toggle="collapse" data-target="#sesrlf"><b><a>Session-Related Functions</a></b></li>	
			<div id="sesrlf" class="collapse">
				<ul>
					<li><b>session_abort</b></li>
					<li><b>session_commit</b></li>
					<li><b>session_destroy</b></li>
					<li><b>session_start</b></li>
					<li><b>session_status</b></li>
					<li><b>session_reset</b></li>
					<li><b>session_unset</b></li>
					<li><b>session_id</b></li>
					<li><b>session_name</b></li>	
				</ul>		
		</section>		
		</article>
		
		<div class="row">
			<div>
					<button data-toggle="collapse" data-target="#web-sec" class="btn btn-primary col-md-12" style="font-size: 35px;margin: 10px;">Web Security</button>
			</div>
		</div>
		<article id="web-sec" class="collapse">
			<section>
				<p>Web Security, also known as "Cyber security" involves protecting information by preventing, detecting, and responding to attacks. </p>

			<div class="well" >
				<h4>Graphical Presentation</h4>
				<img src="./images/websec.gif" class="img-responsive" alt="html_start">
			</div>

			<li data-toggle="collapse" data-target="#ps"><b><a>Packet Sniffer</a></b></li>
				<div id="ps" class="collapse">
					Also known as a Network Analyzer is a computer program that can itercept security, privacy and log traffic that passes a network.
				</div>
			<li data-toggle="collapse" data-target="#le"><b><a>Let's Encrypt</a></b></li>
				<div id="le" class="collapse">
					Let's Encrypt provides free certificate for Transport Layer Security(TLS) encryption to serve HTTPS traffic.
				</div>
			</section>
		</article>
		
		
        <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

		<script >
				window.onscroll = function() {scrollFunction()};

				function scrollFunction() {
   					 if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      				   document.getElementById("myBtn").style.display = "block";
   					 } else {
     				   document.getElementById("myBtn").style.display = "none";
  				  }		
				}	

// When the user clicks on the button, scroll to the top of the document
				function topFunction() {
    					document.body.scrollTop = 0; // For Chrome, Safari and Opera 
    					document.documentElement.scrollTop = 0; // For IE and Firefox
					}
		</script>

	<!-- Footer -->
    <br>
	<br>
	<br>	
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Web Technology Lessons 2017. All right reserved. </p>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
</body>
</html>